body {
    font-family: Arial, sans-serif;
    background: black;
}

p {
    margin-bottom: 2vh;
    line-height: 110%;
}

#chat {
    overflow: auto;
    height: 60vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#d_Upgrade {
    padding: 0 5%;
}

.object{
    background-color:#E5E3D8;
    margin: 10px 20px 10px 20px; 
    width: 80%; 
    border: 3px solid black;
    border-radius: 10px;
}

.object p{
    padding-top: 6px; 
    padding-bottom: 0px; 
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.object button{
    font-size:12px;
    margin-top: 2px; 
    margin-bottom: 7px; 
    margin-left: 30px;
}

.object #describ{
    padding-top: 0px;
    font-size: 12px;
    font-weight: normal;
}

#chrono {
    position: absolute;
    margin: 1vh;
    color: white;
}