p {
    margin-bottom: 2vh;
    line-height: 110%;
}

#chat p {
    text-shadow: 1px 1px 1px black;
}

#chat {
    overflow: auto;
    height: 60vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}