#object{
    background-color:rgb(100, 100, 100);
    margin: 10px 20px 10px 20px; 
    width: 80%; 
    border-radius: 10px;
}

#object p{
    padding-top: 6px; 
    padding-bottom: 0px; 
    font-size: 12px;
    font-weight: bold;
}

#object #boutton{
    font-size:12px;
     margin-top: 9px; 
     margin-bottom: 7px; 
     margin-left: 15px;
}