<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>Smart Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../views/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../node_modules/phaser/dist/phaser.min.js"></script>
    <script src="../node_modules/phaser/dist/phaser.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <link rel="icon" href="../img/icone.gif" type="image/gif">
    <script type="text/javascript" src="../json/events.js"></script>
    <script type="text/javascript" src="../json/infoObjet.js"></script>
    <script type="text/javascript" src="../js/models/barres.js"></script>
    <script type="text/javascript" src="../js/modules/varGame.js"></script>
    <script type="text/javascript" src="../js/modules/chat.js"></script>
    <script type="text/javascript" src="../js/tests.js"></script>
    <script type="text/javascript" src="../js/models/gameView.js"></script>
    <script type="text/javascript" src="../js/formulaire.js"></script>
    <script type="text/javascript" src="../json/upgrade.js"></script>
    <script type="text/javascript" src="../json/maj.js"></script>
    <script type="text/javascript" src="../js/modules/upgradeAchat.js"></script>
    <script type="text/javascript" src="../js/barrePhaser.js"></script>

</head>

<body onClick="coord(event)">

<!--Nav-Bar-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="./menu.html".>
        <img src="../img/icone.gif" width="30" height="30" class="d-inline-block align-top" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav">


            <li class="nav-item">
                <a class="nav-link" href="/views/wiki.html">Wiki</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/tuto.html">Tutoriel</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/credit.html">Crédit</a>
            </li>

        </ul>

    </div>

</nav>

<!--Container-->

<div class="container-fluid">

    <div class="row">
        <script> let socket = io();</script>
        <div class="col-sm-8" id="game_page" style="background-color: black; margin-left: -15px; margin-right: 15px">
            <!--<script src="/js/load.js"></script>-->
            <script src="/js/main.js"></script>
            <div id="achat">
            </div>
        </div>

        <div class="col-sm-4" style="background-color: red;">

            <div class="row" style="height: 65vh;">

                <div class="col-sm-6" style="background-color: #3bd13c; padding: 0 10px" id="upmaj">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 5px;">
                        <label class="btn btn-secondary active" style="font-size: 14px;">
                            <input id="MaJ" type="radio" name="options" autocomplete="off" checked> Mise à jour
                        </label>
                        <label class="btn btn-secondary" style="font-size: 14px;">
                            <input id="Upgrade" type="radio" name="options" autocomplete="off"> Upgrade
                        </label>
                    </div>

                    <div id="d_MaJ" style="display: block; height: 55vh; overflow: auto;background-color: #3bd13c;">
                    </div>
                </div>

                <div class="col-sm-6" style="background-color: #BFB99E; padding-right: 10px; padding-left: 10px;">
                    <p style="margin-top: 10px;"><strong>Le Chat :</strong></p>
                    <div id="chat">
                    </div>
                </div>

            </div>

            <p style="margin-top: 15px;"><strong>Statistiques :</strong></p>

            <div class="row">
                <div class="col-sm-6">
                    <p style="padding-top: 2px; padding-bottom: 0px; font-size: 16px;"><strong>Humeur :</strong></p>
                    <div class="progress">
                        <div id="humeur" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                             role="progressbar" style="width: 50%"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> 50%
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <p style="padding-top: 2px; padding-bottom: 0px; font-size: 16px;"><strong>Argent :</strong></p>
                    <div class="progress">
                        <div id="argent" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                             role="progressbar" style="width: 100%"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0 €
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-6" style="margin-top: -15px;">
                    <p style="font-size: 16px;"><strong>Débit :</strong></p>
                    <div class="progress">
                        <div id="debit" class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                             role="progressbar"
                             style="width: 100%"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 100%
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="margin-bottom: 0px; margin-top: -15px;">
                    <p style="font-size: 16px;"><strong>Autre :</strong></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                             role="progressbar" style="width: 25%"
                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> 25%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
<script src="../js/scriptmagique.js"></script>
<script>

    function coord(event) {

        var e = event || window.event;
        // console.log(e.clientX,e.clientY);
    }

    // tests();
    const gameView = new GameView();
    VarGame.initView(gameView, 1);
</script>
</body>
</html>
