<html>
    <head>
        <meta charset="utf-8"/>
        <title>HomeIO</title>
        <link rel="stylesheet" href="/css/menu.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="icon" href="../img/icone.gif" type="image/gif">

        <script src="../json/events.js"></script>
        
        </head>
    <body>
        <div class="masthead">
            <p class="title">HOME IO</p>
        </div>
        <div id="tablette">       
            <div class="scena">
                    <a href='/scenario'><p>Scénarios</p></a>
                </div>
            <div class="jouer">
                <a href='/jouer' id="play"><p>Jouer</p></a>
            </div>
        </div> 
        <script src="../js/scenarIndexerMenu.js"></script>
        <script src="../js/scenaAlea.js"></script>
    </body>
</html>
