<html>
    <head>
        <meta charset="utf-8"/>
        <title>HomeIO</title>
        <script src="../node_modules/phaser-ce/build/phaser.min.js"></script>
        <script src="../node_modules/phaser-ce/build/phaser.js"></script>
        </head>
    <body>
        <div class="masthead" class="container-fluid">
            <img src="" id="logo">
            <ol class="absolute">
        
                <form>
                    <button type="submit" formaction="jouer" class="button">Jouer</button>
                </form>
        
                <form>
                    <button type="submit" formaction="comment-jouer" class="button">Comment Jouer</button>
                </form>
                <form>
                    <button type="submit" formaction="https://www.serious-game.fr/" class="button">Serious-Game
                    </button>
                </form>
            </ol>
        </div>
    </body>
</html>