<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <title>Smart Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="tuto.css"/>
    <link rel="icon" href="../img/icone.gif" type="image/gif">
</head>

<body>

<!--Nav-Bar-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="index.html">
        <img src="../img/icone.gif" width="30" height="30" class="d-inline-block align-top" alt="logo" >
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav">
            

            <li class="nav-item">
                <a class="nav-link" href="/views/wiki.html" >Wiki</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/tuto.html">Tutoriel</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/credit.html">Crédit</a>
            </li>

        </ul>

    </div>

</nav>

<!--Container-->

<div class="container-fluid">
    <div class="row">
  
      <div class="col">
      </div>

      <div class="col-8">
          <h2>Une vidéo vaut mieux qu'un long texte</h2>

          <video width="320" height="240" controls>
            <source src="/img/RickAstleySaysTheNWord.mp4" type="video/mp4">
          Votre navigateur ne supporte pas la balise vidéo.
          </video>

      </div>

      <div class="col">
      </div>